.stats-card {
  border-radius: 4px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.board {
  border: 0.1px solid;
  border-radius: 4px;
  padding: 16px;
  min-height: 300px;
}

.degen-title {
  width: 80%;
  margin: 48px auto;
}

.degen-title .link {
  text-decoration: none;
  display: flex;
  gap: 4px;
  align-items: center;
}

.leader-wrapper {
  display: flex;
  width: 80%;
  margin: 48px auto;
  gap: 24px;
}

.coin-mobile {
  display: none;
  text-align: center;
}

.coin-desktop {
  display: block;
  text-align: center;
  margin-top: 36px;
}

.dropdown {
  position: relative;
  display: inline-block;
  border-radius: 4px;
  border: 0.1px solid;
  padding: 8px 12px;
  font-size: 12px;
}

.dropdown-content {
  display: flex;
  flex-direction: column;
  /* gap: 8px; */
  position: absolute;
  /* padding: 8px 12px; */
  z-index: 1;
  font-size: 12px;
  border: 0.1px solid;
  border-radius: 4px;
  left: 50%;
  transform: translateX(-50%);
  top: 33px;
  /* width: 100px; */
  text-align: center;
}

.dropdown-content .option {
  cursor: pointer;
  padding: 8px 12px;
}

.dropdown-content .option:hover {
  border-radius: 4px;
}

.data-toggle {
  cursor: pointer;
  border: 0.1px solid;
  border-radius: 4px;
  padding: 8px 12px;
  font-size: 12px;
}

@media only screen and (max-width: 800px) {
  .degen-title {
    text-align: center;
  }

  .degen-title .link {
    justify-content: center;
  }

  .leader-wrapper {
    flex-direction: column;
    margin: 12px auto 0;
  }

  .coin-mobile {
    display: block;
  }

  .coin-desktop {
    display: none;
  }
}
