* {
  box-sizing: border-box;
}

html {
  /* --bg: #efefef;
  --fg: #1e1e1e;
  --gray: #555;
  --light-gray: #ccc;
  --shadow: #e6e6e6;
  --success: rgb(90, 206, 132);
  --primary: #ff585d;
  --secondary: rgba(0, 0, 0, 0.9);

  background-color: var(--bg);
  color: var(--fg); */
  font-family: "Space Mono", monospace;
  /* font-size: calc(0.9em + 0.5vw);
  line-height: 1.3; */
}

:root {
  --background: #efefef;
  --background-secondary: #aaa;
  --background-terciary: white;
  --background-accent: #444;
  --background-smooth: #eaeaea;
  --background-leaderboard: white;
  --text-primary: black;
  --text-secondary: white;
  --text-terciary: #757373;
  --text-link: #0d6efd;
}

[data-theme="dark"] {
  --background: #0f172a;
  --background-secondary: #aaa;
  --background-terciary: #535e70;
  --background-accent: #444;
  --background-smooth: #eaeaea;
  --background-leaderboard: #1e293b;
  --text-primary: white;
  --text-secondary: white;
  --text-terciary: black;
  --text-link: white;
}

body {
  margin: 0;
}