@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="range"]::-webkit-slider-thumb {
  @apply appearance-none bg-gold-yellow;
  -webkit-appearance: none;
  border: none;
  height: 12px;
  width: 12px;
  border-radius: 50%;
}
/* * {
  box-sizing: border-box;
}

:root {
  --background: #efefef;
  --background-secondary: #aaa;
  --background-terciary: white;
  --background-accent: #444;
  --background-smooth: #eaeaea;
  --background-leaderboard: white;
  --text-primary: black;
  --text-secondary: white;
  --text-terciary: #757373;
  --text-link: #0d6efd;
}

[data-theme="dark"] {
  --background: #0f172a;
  --background-secondary: #aaa;
  --background-terciary: #535e70;
  --background-accent: #444;
  --background-smooth: #eaeaea;
  --background-leaderboard: #1e293b;
  --text-primary: white;
  --text-secondary: white;
  --text-terciary: black;
  --text-link: white;
}

body {
  margin: 0;
} */
